{% load users_tags %}
{% load orders_tags %}
<tr class="clickable-row_unp" id="{{ item.uuid }}"
    data-href="{% url 'opened_orders:order_edit' item.uuid %}">
    <td>{% convert_date item.created_at %}</td>
    <td>{% convert_date_only item.load_date %}</td>
    <td>{{ item.load_city.full_name }}</td>
    <td>{% convert_date_only item.unload_date %}</td>
    <td>{{ item.upload_city.full_name }}</td>
    <td>{{ item.vehicle_type }}</td>
    <td>{{ item.cargo_weight }}</td>
    <td>{% get_cost_value item.uuid %}</td>
    <td>{% user_login_name item.author.user_id %}</td>
    <td>{% user_login_name item.editor.user_id %}</td>
    <td>{{ item.state }}</td>
</tr>