{% load static %}
{% load users_tags %}
{% load orders_tags %}
{% block content %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:index' %}"><i class="bi bi-house-heart"></i>&nbsp;На
                главную&nbsp;</a>
        </li>
    </ul>
    <ul class="flex-grow-1 navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-journals"></i>&nbsp;Разделы&nbsp;</a>
            {% if True|can_view_orders:user %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'opened_orders:list' %}"><i
                        class="bi bi-shield-lock-fill"></i>&nbsp;Активные заявки&nbsp;</a></li>
            </ul>
            {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>&nbsp;{% user_login_name user %}&nbsp;
                <span class="sr-only">(current)</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'users:password_change' %}"><i
                        class="bi bi-key"></i>&nbsp;Сменить пароль&nbsp;</a>
                </li>
            </ul>
        </li>
        {% if user.is_superuser %}
        <a class="nav-link" href="{% url 'admin:index' %}">
            <i class="bi bi-server"></i>&nbsp;Администрирование&nbsp;
            <span class="sr-only">(current)</span></a>
        {% endif %}
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="nav-link" type="submit"><i
                    class="bi bi-door-closed"></i>&nbsp;Выйти&nbsp;
            </button>
            <span class="sr-only">(current)</span>
        </form>
        {% else %}
        <a class="nav-link" href="{% url 'users:login' %}"><i
                class="bi bi-door-open"></i>&nbsp;Войти&nbsp;<span
                class="sr-only">(current)</span></a>
        {% endif %}
    </ul>
</nav>
{% endblock %}